.image {
  width: 11.25rem;
  height: 15rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Disable text and image selection highlighting */
}

.card {
  width: 12.5rem;
  height: 26.25rem;
  box-shadow: 0.185rem 0.625rem 0.25rem 0.1875rem rgb(16, 137, 212);
  border-radius: 0.625rem;
  margin: 2rem;
}

.detail-button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(81, 80, 80);
  color: #fff;
}

.detail-button:hover {
  cursor: pointer;
  background-color: rgb(25, 214, 25);
  transition: all 0.6s;
}
